<!-- LISTINGS VIEW -->

<div class="alert alert-danger" data-ng-show="error">{{error}}</div>

<div class="row">
	<div class="col-xs-12">
		<h2 class="text-center">Hacker News listings</h2>
	</div>
</div>

<br>

<div class="row">
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-6">
				<select title="selectBox" class="form-control"
				        data-ng-options="selection.name as selection.description for selection in querySelections"
				        data-ng-disabled="isResolving"
				        data-ng-model="selectedQuery">
					<option value=''> --Select a query and hit refresh</option>
				</select>
			</div>
			<div class="col-sm-4">
				<button type="button" class="btn btn-success" data-ng-disabled="isResolving" data-ng-click="selectQuery(selectedQuery)">
					Refresh query
				</button>
			</div>
		</div>
	</form>
</div>

<hr>

<div data-ng-show="isResolving" class="progress">
	<div class="progress-bar progress-bar-striped active" role="progressbar" style="width: {{progressBarPercentage}}%; min-width: 4%">
		{{progressBarPercentage}}%
	</div>
</div>

<div data-ng-show="!isResolving && orderedListOfWords" class="row">
	<div class="col-xs-12">
		<table class="table">
			<thead>
			<tr>
				<th>#</th>
				<th>Word</th>
				<th>Count</th>
			</tr>
			</thead>
			<tbody>
			<tr data-ng-repeat="item in orderedListOfWords track by $index">
				<td>{{$index + 1}}</td>
				<td>{{item[0].slice(1)}}</td>
				<td>{{item[1]}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>