<!-- LISTINGS VIEW -->

<div class="alert alert-danger" data-ng-show="error">{{error}}</div>

<div class="row">
	<div class="col-xs-12">
		<h2 class="text-center">Hacker News listings</h2>
	</div>
</div>

<br>

<div class="row">
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-6">
				<select title="selectBox" class="form-control"
				        data-ng-options="selection.name as selection.description for selection in querySelections"
				        data-ng-disabled="isResolving"
				        data-ng-model="selectedQuery">
					<option value=''> --Select a query and hit refresh</option>
				</select>
			</div>
			<div class="col-sm-4">
				<button type="button" class="btn btn-success" data-ng-disabled="isResolving" data-ng-click="selectQuery(selectedQuery)">
					Refresh query
				</button>
			</div>
		</div>
	</form>
</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div data-ng-repeat="item in results track by $index">
			<p>{{item}}</p>
		</div>
	</div>
</div>